.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 48%;   /* ⭐ THIS is the key */
    margin-bottom: 20px;
    height:200;
}

.product img {
    width: 200;
    height: 200;
    border: 5px solid aliceblue;
}

.price {
    font-size: 18px;
    margin-top: 5px;
}
